html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  font-size: 100%;
  line-height: 24px;
  font-size: 16px;
  color: #4B596C;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:focus, a:active {
  outline: none;
}

a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin: 0;
  color: #28374C;
}

h1 {
  font-size: 64px;
  line-height: 72px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h4 {
  font-size: 32px;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  line-height: 32px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

.encrypted,
.create,
.advantage,
.security,
.faq-content {
  margin-bottom: 178px;
}

.btn {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
  color: #fff;
  background-color: #3982F5;
  padding: 16px 32px;
  border-radius: 2px;
}

.light__btn {
  border-radius: 2px;
  background: rgba(57, 130, 245, 0.1);
  padding: 12px 24px;
  color: #3982F5;
  min-height: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*padding: 0 15px;*/
  min-height: 65px;
}

.header__logo {
  width: 154px;
  height: 27px;
}

.header__logo img {
  width: inherit;
  height: inherit;
}

.header__menu-item {
  display: inline-block;
}

.header__menu-item + .header__menu-item {
  margin-left: 40px;
}

.header__menu-item a {
  font-size: 14px;
}

.header .light__btn {
  min-height: 42px;
  padding: 0;
}

.header .light__btn a {
  padding: 12px 24px;
}

.proximail__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0 80px;
}

.proximail__content {
  max-width: 373px;
}

.proximail__text {
  padding: 18px 0 32px;
}

.proximail__image {
  width: 497px;
  height: 283px;
}

.proximail__image img {
  width: inherit;
  height: inherit;
}

.encrypted__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px 0 -15px;
}

.encrypted__item {
  width: 350px;
  min-height: 344px;
  background: #F4F9FE;
  border-radius: 24px;
  margin-left: 30px;
  padding: 24px;
  text-align: center;
  position: relative;
}

.encrypted__item::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 23px;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/icons/arrow-right.svg);
  top: 26px;
  right: -12px;
}

.encrypted__item-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 24px;
}

.encrypted__item-image {
  width: 302px;
  height: 148px;
  margin: 0 auto;
}

.encrypted__item-image img {
  width: inherit;
  height: inherit;
}

.encrypted__item:last-child::after {
  display: none;
}

.item__magic_stick::before,
.item__open_mail::before {
  position: absolute;
  content: '';
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 35px -2px rgba(57, 130, 245, 0.2);
          box-shadow: 0px 1px 35px -2px rgba(57, 130, 245, 0.2);
  z-index: 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item__magic_stick::before {
  background-image: url(../images/magic_stick.svg);
  background-size: 36px;
  top: 96px;
  right: 100px;
}

.item__open_mail::before {
  background-image: url(../images/open_mail.svg);
  background-size: 30px;
  top: 113px;
  right: 42px;
}

.create__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create__top-text {
  max-width: 382px;
  margin-top: 16px;
}

.create__top-text span {
  color: #fff;
  background-color: #92C1F7;
  border-radius: 2px;
  padding: 3px 5px;
}

.create__top-warning {
  max-width: 364px;
  margin: 30px 0;
  padding-left: 40px;
  position: relative;
}

.create__top-warning::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/icons/warning.svg);
}

.create__form {
  margin-top: 60px;
  padding: 48px 67px 56px;
  -webkit-box-shadow: 0px 13px 50px rgba(57, 130, 245, 0.1);
          box-shadow: 0px 13px 50px rgba(57, 130, 245, 0.1);
  border-radius: 24px;
}

.create__form input {
  width: 100%;
  height: 50px;
  padding: 16px;
  color: #4B596C;
}

.create__form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.create__form input::-moz-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.create__form input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.create__form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.create__form input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.form__realaddress {
  display: inline-block;
  max-width: 350px;
  margin-right: 54px;
}

.form__realaddress input {
  border: 1px solid #E6EDF3;
  border-radius: 2px;
  margin-bottom: 8px;
}

.form__realaddress input::-webkit-input-placeholder {
  color: #DFE2E6;
}

.form__realaddress input::-moz-placeholder {
  color: #DFE2E6;
}

.form__realaddress input:-ms-input-placeholder {
  color: #DFE2E6;
}

.form__realaddress input::-ms-input-placeholder {
  color: #DFE2E6;
}

.form__realaddress input::placeholder {
  color: #DFE2E6;
}

.form__proxiedmailaddress {
  display: inline-block;
  width: 665px;
}

.form__proxiedmailaddress .form__input {
  margin: 1px 54px 8px 11px;
  border: 1px solid #E6EDF3;
  max-width: 170px;
  width: 100%;
}

.form__proxiedmailaddress .form__input::-webkit-input-placeholder {
  color: #4B596C;
}

.form__proxiedmailaddress .form__input::-moz-placeholder {
  color: #4B596C;
}

.form__proxiedmailaddress .form__input:-ms-input-placeholder {
  color: #4B596C;
}

.form__proxiedmailaddress .form__input::-ms-input-placeholder {
  color: #4B596C;
}

.form__proxiedmailaddress .form__input::placeholder {
  color: #4B596C;
}

.form__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 16px;
}

.advantage__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__text {
  margin: 49px 10px 0 0;
  max-width: 478px;
}

.advantage__text-list {
  padding-left: 37px;
  margin-bottom: 24px;
  position: relative;
}

.advantage__text-list::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 9px;
  top: 6px;
  left: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/icons/check.svg);
}

.account {
  max-width: 445px;
  width: 100%;
  background: #F4F9FE;
  border-radius: 24px;
  text-align: center;
  padding-bottom: 50px;
}

.account-title {
  margin: 35px 10px 21px;
}

.account img {
  width: 445px;
  height: auto;
}

.security__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.security__content {
  max-width: 359px;
}

.security__text {
  margin: 24px 0;
}

.security__image {
  width: 539px;
  height: 417px;
}

.security__image img {
  width: inherit;
  height: inherit;
}

.trust_us__inner {
  width: 100%;
  background-color: #92C1F7;
  border-radius: 24px;
  padding: 88px;
  text-align: center;
  margin-bottom: 85px;
  background-image: url(../images/trust_us-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trust_us__title {
  color: #fff;
  max-width: 488px;
  margin: 0 auto 32px;
}

.footer {
  margin-bottom: 8px;
  min-height: 193px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact-text {
  font-size: 12px;
  line-height: 18px;
  margin: 7px 0 18px;
}

.footer__contact-mail {
  font-size: 14px;
  font-weight: 800;
  color: #3982F5;
}

.footer__box {
  margin: 8px 0 8px 48px;
  font-size: 14px;
  line-height: 24px;
}

.footer__item-list {
  margin-bottom: 10px;
}

.footer__bottom {
  margin-top: 85px;
  font-size: 10px;
  line-height: 12px;
  color: #959FAC;
  padding-bottom: 8px;
}

.faq-content__text {
  margin-top: 24px;
}

.faq-content__text p {
  margin-top: 7px;
}

.questions,
.plans {
  margin-bottom: 136px;
}

.questions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions__content {
  max-width: 538px;
}

.questions__title {
  max-width: 292px;
}

.questions__item {
  margin-top: 40px;
}

.questions__item-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 12px;
}

.questions__simple {
  width: 445px;
  height: 100%;
  padding: 56px;
  background-color: #F4F9FE;
}

.questions__simple-title {
  margin-bottom: 24px;
}

.questions__simple-item {
  color: #28374C;
  margin-bottom: 16px;
}

.questions__simple-btn {
  margin-top: 20px;
}

.plans__title {
  margin: 40px 0 47px;
}

.plans__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -30px;
}

.plans__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  min-height: 100%;
  -webkit-box-shadow: 0px 14px 50px -10px rgba(57, 130, 245, 0.15);
          box-shadow: 0px 14px 50px -10px rgba(57, 130, 245, 0.15);
  border-radius: 24px;
  padding: 35px 32px 32px;
  margin-left: 30px;
}

.plans__item-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.plans__item-title {
  padding-left: 55px;
  margin-bottom: 23px;
  position: relative;
}

.plans__item-title::before {
  position: absolute;
  content: '';
  width: 38px;
  height: 38px;
  top: -3px;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plans__item-price {
  text-align: center;
  font-size: 14px;
  line-height: 42px;
  font-weight: 800;
  color: #3982F5;
  background: rgba(57, 130, 245, 0.1);
  border-radius: 8px;
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
}

.plans__item-text {
  margin-bottom: 12px;
}

.plans__item-list {
  padding-left: 24px;
  margin-bottom: 4px;
  position: relative;
}

.plans__item-list::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 6px;
  top: 10px;
  left: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/icons/check.svg);
}

.plans__item-btn {
  margin-top: 24px;
  display: inline-block;
}

.plans__btn-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.plans__item-checkbox_1::before {
  background-image: url(../images/icons/checkbox-1.svg);
}

.plans__item-checkbox_2::before {
  background-image: url(../images/icons/checkbox-2.svg);
}

.plans__item-checkbox_3::before {
  background-image: url(../images/icons/checkbox-3.svg);
}

.sign_in {
  margin: 53px 0 134px;
}

.sign_in .account {
  max-width: 475px;
}

.sign_in .account-image {
  margin: 0 15px;
}

.sign_in__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign_in__form {
  max-width: 350px;
  width: 100%;
  margin: 0 95px;
}

.sign_in__form label {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #28374C;
  margin-bottom: 12px;
}

.sign_in__form input {
  display: block;
  width: 100%;
  border: 1px solid #E6EDF3;
  border-radius: 2px;
  height: 50px;
  padding: 16px;
  margin-bottom: 24px;
  color: #4B596C;
}

.sign_in__form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.sign_in__form input::-moz-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.sign_in__form input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.sign_in__form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.sign_in__form input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #DFE2E6;
  font-weight: 500;
}

.sign_in__form .sign_in__btn {
  margin-left: 119px;
  margin-top: 40px;
}

.sign_in__title {
  text-align: center;
  margin-bottom: 40px;
}

.sign__forgot {
  font-weight: 500;
  font-size: .875rem;
  line-height: 155%;
  letter-spacing: -.01em;
  color: #5262ee;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.alert-warning {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.toast {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  left: 12px;
  bottom: 12px;
  border: 1px solid black;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: 20px;
  background: whitesmoke;
}
 .toast div {
   padding: 15px;
   width: 25em;
 }

 .toast p {
   text-align: center;
 }

 .toast_title {
   text-align: center;
 }
@media (max-width: 1139px) {
  .form__realaddress {
    margin-bottom: 30px;
  }
  .footer__box {
    margin-left: 25px;
  }
}

@media (max-width: 1120px) {
  .encrypted__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .encrypted__item {
    margin-bottom: 25px;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__box {
    width: 45%;
    margin-bottom: 40px;
  }
  .footer__contact {
    margin-left: 25px;
  }
  .footer__bottom {
    margin-top: 30px;
  }
  .sign_in__form {
    margin-left: 25px;
    margin-right: 0;
  }
}

@media (max-width: 1040px) {
  .questions__content {
    max-width: 460px;
  }
  .questions__simple {
    padding: 36px;
  }
  .plans__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .plans__item {
    margin-bottom: 25px;
  }
}

@media (max-width: 940px) {
  h1 {
    font-size: 54px;
    line-height: 62px;
  }
  h2 {
    font-size: 38px;
    line-height: 46px;
  }
  h4 {
    font-size: 22px;
    line-height: 30px;
  }
  h5 {
    font-size: 18px;
    line-height: 28px;
  }
  .proximail__inner {
    width: 90%;
    margin: 0 auto;
  }
  .proximail__image {
    width: 400px;
    height: 236px;
  }
  .advantage__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantage__content {
    width: 100%;
  }
  .advantage__text {
    max-width: 100%;
  }
  .account {
    margin: 0 auto;
  }
  .security__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .security__content {
    max-width: 100%;
  }
  .encrypted,
  .create,
  .advantage,
  .security,
  .faq-content {
    margin-bottom: 128px;
  }
  .questions {
    margin-bottom: 106px;
  }
  .plans,
  .sign_in {
    margin-bottom: 72px;
  }
  .questions__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .questions__content {
    max-width: 100%;
  }
  .questions__simple {
    width: 80%;
    margin-top: 40px;
  }
  .sign_in__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sign_in__form {
    width: 100%;
    max-width: none;
    padding-bottom: 60px;
    margin-right: 20px;
  }
  .sign_in__form .sign_in__btn {
    margin-top: 20px;
  }
}

@media (max-width: 860px) {
  .proximail__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .proximail__image {
    margin-bottom: 50px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .proximail__content {
    max-width: 100%;
    width: 100%;
  }
  .create__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create__top-warning {
    max-width: 100%;
  }
  .create__form {
    margin-top: 0;
  }
  .form__btn {
    margin-top: 25px;
  }
  .form__proxiedmailaddress {
    width: 100%;
  }
}

@media (max-width: 789px) {
  .encrypted__inner {
    margin: 0;
  }
  .trust_us__inner {
    padding: 50px 20px;
  }
}

@media (max-width: 759px) {
  .plans__item {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .form__proxiedmailaddress .form__input {
    margin: 20px 10px 0 0;
  }
  .security__image {
    width: 100%;
    height: auto;
  }
  .footer__box,
  .footer__contact {
    width: 80%;
    margin-bottom: 40px;
    margin-left: 0;
  }
  .questions__simple {
    width: 100%;
  }
  .sign_in .account-image {
    margin: 0;
  }
  .sign_in__form .sign_in__btn {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .header__inner {
    display: block;
  }
  .header__logo {
    margin: 20px 0;
  }
  .header__menu {
    padding-bottom: 20px;
  }
  .encrypted__item {
    margin-left: 0;
  }
  .account img {
    width: 100%;
  }
  .encrypted,
  .create,
  .advantage,
  .security,
  .faq-content {
    margin-bottom: 78px;
  }
  .questions,
  .plans,
  .sign_in {
    margin-bottom: 66px;
  }
}

@media (max-width: 460px) {
  .proximail__image {
    width: 100%;
    height: auto;
  }
  .create__form {
    padding: 20px;
  }
  .trust_us__inner {
    padding: 30px 20px;
  }
  .trust_us__title {
    margin-bottom: 24px;
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0 10px;
  }
  h1 {
    font-size: 44px;
    line-height: 52px;
  }
  .encrypted__item {
    width: 280px;
    padding: 14px;
  }
  .encrypted__item-image {
    width: 260px;
    height: auto;
  }
  .item__magic_stick::before,
  .item__open_mail::before {
    width: 55px;
    height: 55px;
    background-size: 25px;
  }
  .item__magic_stick::before {
    right: 75px;
  }
  .item__open_mail::before {
    top: 99px;
  }
  .form__proxiedmailaddress .form__input {
    margin-right: 0;
  }
  .encrypted,
  .create,
  .advantage,
  .security,
  .faq-content {
    margin-bottom: 60px;
  }
  .questions,
  .plans {
    margin-bottom: 46px;
  }
  .footer__box,
  .footer__contact {
    width: 100%;
  }
  .questions__simple {
    padding: 36px  20px;
  }
  .footer__bottom {
    margin-top: 10px;
  }
  .plans__item {
    width: 90%;
    padding: 20px;
  }
  .sign_in__form {
    margin: 10px;
  }
}
.table
{
  width: 100%;
}
.pb-status-change, .pb-remove{
  padding: 10px 18px;
  margin-right: 6px;
  min-width: 88px;
}
table thead tr th
{
  text-align: left;
  padding-bottom: 15px;
}
table tr
{
  border-bottom: 1px solid gray;
  width: 100%;
  height: 47px;
  overflow: hidden;
  padding:20px;
}

table td{
  border-bottom: 1px solid #CCC;
  padding:20px;
}
.btn-primary
{
  padding: 10px 26px !important;
}
header
{
  webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
}
.disabled
{
  cursor: not-allowed;
  opacity: 0.5;
}
.built-in .form__proxiedmailaddress
{
  width: 100%;
}
.built-in .form__proxiedmailaddress .form__input
{
  margin-left:0px;
  margin-top:5px;
}
.built-in input[type="text"], .built-in input[type="input"] {
  width: 90% !important;
  max-width: 300px !important;
}
.built-in .form__realaddress
{
  width: 100%;
}
.built-in .form__proxiedmailaddress
{
  margin-top:20px;
}
.built-in .form__realaddress
{
  max-width: none;
}
.built-in .form__btn
{
  margin-top:7px;
}
