.bone__button {
    display: inline-flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    background: #F7F7F8;
    padding: 10px 20px;
    border-radius: 32px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
}

.bone__button:hover {
    background: #f2f2fb;
}

.bone__button img {
    width: 20px;
    height: 20px;
}

.bone__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.popup__top {
    margin-bottom: 0 !important;
}

.popup__bottom {
    margin-top: 60px;
}

.checkbox {
    position: relative;
    width: 100%;

}

.checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;


}

.checkbox__input:checked+.checkbox__label {
    background: #406AF6;
    color: #fff;
}

.checkbox__label {
    cursor: pointer;
    display: inline-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    padding: 20px 10px;
    color: #98989B;
    background: #EDEEF1;
    border-radius: 5px;
}

.checkbox__label:hover {
    background: #ebeef8;
}

.checkbox__label::before {
    display: none;
}

.error_text {
    text-align: end;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #406AF6;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
.btn-remove {
    background: red;
}